{% extends 'myapp/index.html' %}

{% load static %}

{% block content %}

<div class="container">
    <section class="hero hero-normal">

        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Categories</span>
                    </div>
                    <ul>
                        {% for i in mid %}
                        <li><a href="{% url 'category' i.id %}">{{i.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form class="d-flex justify-content-between search-inner" action="/searchview" method="get">
                            <div class="hero__search__categories">
                                All Categories

                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" class="form-control" id="search_input" placeholder="Search Here"
                                name="srch">

                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+91 9624094666</h5>
                            <span>24/7 customer support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>



<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/ab_2.jpg' %}">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
                <h2 style="margin-left: 550px;">Grocery Mart </h2>
                <div class="breadcrumb__option">
                    <a href="{% url 'index' %}" style="padding-left: 535px ;">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="product spad">




    <div class="row p-5">
        {% for i in pid %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="{{i.pic.url}}">
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="{% url 'shop_details' i.id %}"><i class="fa fa-eye"></i></a></li>
                        <li><a href="{% url 'add_to_cart' i.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="#">{{i.name}}</a></h6>
                    <h5>₹ {{i.price}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>

    </div>
    </div>
    </div>
</section>

{% endblock %}